<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>About WordCount</title>
    </head>
    <body>
        <h1>A więc pytasz co to jest WordCount?</h1>
        <p>
            WordCount to aplikacja na miarę XXII wieku. <br/>
            WordCount to nowy sposób bycia.<br/>
            WordCount uwolni Cię od trosk.<br/>
            WordCount doda Ci siły i odwagi.<br/>
            WordCount napędza świat.<br/>
            Oto czym jest WordCount.
        </p>
        <br/>
        <a href="{% url 'home' %}">Zacznij zmieniać swoje życie już teraz!</a>

        <p> ej i jak coś to można kopiować tą stronę, jest dla wszystkich !!</p>
    </body>
</html>
